# Force tracking of node_modules when publishing releases from dist envelope
!node_modules/

# Specifically exclude the node_modules in the modern-web-use-cases CLI
skills-cli/modern-web-use-cases/cli/node_modules/
